
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Monoton&display=swap');
@import 'bootstrap/dist/css/bootstrap.min.css';

* {
  text-align: center;
}

/* classes */

.App{
  background-color: tan;
}

.nav-title{
  font-family: 'Dancing Script', cursive;
  font-size: 30px;
}
.navbar {
  font-size: 15px;
}
.logo {
  height: 125px;
  width: 125px;
  animation: logo-spin 6s linear infinite;
  margin-top: 20px;
  margin-bottom: 30px;

}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.title{
  font-family: 'Dancing Script', cursive;
  font-size: 55px;
  color: white;
}

.Cart{
  font-size: 15px;
  position: fixed;
  top: 20;
  right: 0;
  background-color: white;
  width: 9%;
  padding-bottom: 20px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
