
img {
    height: 250px;
    width: 250px;
}
h3{
    margin-top: 10px;
    text-align: center;
}
.item-card {
    background-color: lightyellow;
    width: 40%;
    margin: auto;
    border-radius: 30px;
    margin-bottom: 20px;
    padding: 10px;
}

.description{
    font-family: 'Courier New', Courier, monospace !important;
}

.restriction{
    color: brown !important;
}

.top-of-card {
    list-style: none;
    text-decoration: none;
}
.cart-button {
    background-color: transparent;
    border: none;
}

.cart-button:hover {
    opacity: 50%;
    transform: scale(1.15, 1.15);
    transition: .1s all ease-in-out;
}
.cart-image {
    height: 50px;
    width: 50px; 
}

.list-item{
    display: inline-block;
}

.cart-item {
    display: inline-block;
    float: inline-end;
}